/* ========================== */
/* CSS RESET */
/* ========================== */

:root {
    /* colors */
    --orange: color(display-p3 1 0.423529 0 / 1);

    --beige-1: color(display-p3 1 0.992 0.980 / 1);
    --beige-2: color(display-p3 0.964 0.954 0.934 / 1);
    --beige-2-5: #EDE9E1;
    --beige-3: color(display-p3 0.878 0.854 0.803 / 1);
    --beige-4: color(display-p3 0.729 0.709 0.658 / 1);
    --beige-5: color(display-p3 0.429 0.409 0.358 / 1);

    --font-black: #292929;


    /* fonts */
    --heavy: 900;
    --extra-bold: 800;
    --bold: 700;
    --demi-bold: 600;
    --medium: 500;
    --light: 400;

    /* padding */
    --padding: 6rem;

    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--orange);
    overflow-x: clip;
}

a {
    text-decoration: none;
    display: block;
}

ul:not([role="list"]) {
    list-style-type: none;
}


img {
    display: block;
    width: 100%;
    pointer-events: none;
}


.break {
    display: block;
}

.invisible {
    display: none;
}

::selection {
    background-color: var(--orange);
    color: white;
}

/* ========================== */
/* HEADER */
/* ========================== */


header {
    interpolate-size: numeric-only;
    --hamburger-size: 15px;
    --span-height: 2px;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
}

header * {
    font-family: rm-mono;
    text-transform: uppercase;
    color: var(--orange);
}

header label {
    z-index: 10;
    position: relative;
    height: var(--hamburger-size);
    aspect-ratio: 1 / 1;
}

header label input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

header:has(label input:focus-visible) label {
    outline: var(--orange) solid 1px;
}

header label div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
}

header label div span {
    grid-area: stack;
    height: var(--span-height);
    width: 100%;
    background-color: var(--orange);
    transition: all 0.15s ease;
}

header label div span:nth-of-type(1) {
    translate: 0 calc((var(--hamburger-size) / 2) - (var(--span-height) / 2));
}

header label div span:nth-of-type(2) {
    translate: 0 0;
    width: 100%;
}

header label div span:nth-of-type(3) {
    translate: 0 calc((var(--hamburger-size) / -2) - (var(--span-height) / -2));
}

header:has(input:checked) div span:nth-of-type(1) {
    translate: 0 0;
    rotate: z 45deg;
    width: calc(100% * 1.1);
}

header:has(input:checked) div span:nth-of-type(2) {
    translate: 0 0;
    opacity: 0;
    width: 0px;
}

header:has(input:checked) div span:nth-of-type(3) {
    translate: 0 0;
    rotate: z -45deg;
    width: calc(100% * 1.1);
}

/* closed state */
header nav {
    display: none;
    width: 0px;
    top: 0;
    right: 0;
    height: 100vh;
    position: absolute;
    background-color: var(--beige-3);

    transition: display 0.5s allow-discrete, width 0.5s;
}

/* open state */
header:has(input:checked) nav {
    display: block;
    width: 100%;
    background-color: var(--beige-3);


    @starting-style {
        width: 0px;
        background-color: var(--beige-3);

    }
}

/* scroll-lock */
body:has(header input:checked) {
    overflow: hidden;
}

header nav ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 80vh;
    text-align: right;
}

header nav ul a {
    white-space: nowrap;
}

header nav ul li a:focus-visible {
    outline: var(--orange) solid 1px;
}

@media (min-width: 850px) {

    header label {
        display: none;
    }

    header nav {
        position: static;
        display: block;
        width: auto;
        height: auto;
        background-color: transparent;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 2.5rem;
        padding: 0;

        margin-top: 0;
        text-align: left;
    }

    header nav ul a {
        white-space: nowrap;
    }
}









main {
    position: relative;
    background-color: var(--beige-1);
}

details summary {
    list-style: none;
}

details summary::marker {
    display: none;
}

details summary::-webkit-details-marker {
    display: none;
}