/* ============================================================================== */
/* HERO */
/* ============================================================================== */

.hero {
    position: sticky;
    top: 0;
    transition: transform .1s linear, opacity .1s linear;

    container-type: inline-size;
    max-width: 500px;
    margin: 0 auto;
}

.hero-inner {
    height: 90vh;
    display: grid;
    place-items: center;
}

.hero-inner.trigger {
    opacity: .2;
}

.hero-inner * {
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);
}

.hero-inner>div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: grid;
    place-items: center;
}

.hero-inner>img {
    display: none;
}

.hero-inner>div>div:nth-of-type(1) {
    text-align: center;
    padding-inline: 10cqw;
    z-index: 2;
}

.hero-inner>div div:nth-of-type(2) {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-inner>div div:nth-of-type(2) svg {
    position: absolute;
    width: 300px;
    bottom: -10%;
    left: -20%;
}

.hero-inner>div div:nth-of-type(2) img {
    position: absolute;
    width: 175px;
    top: 15%;
    right: -10%;
}

.hero-inner>div>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}

.hero-inner>div>div:nth-of-type(1) h1 {
    white-space: nowrap;
    font-size: 12cqw;
    line-height: 12cqw;
    font-weight: var(--heavy);
}

.hero-inner>div>div:nth-of-type(1) h1 span:nth-of-type(1) {
    color: var(--beige-4);
}

.hero-inner>div>div:nth-of-type(1) h1 span:nth-of-type(1) span {
    color: var(--orange);
}

.hero-inner>div>div:nth-of-type(1)>p {
    white-space: nowrap;
    font-size: 7cqw;
    font-weight: var(--heavy);
}

.hero-inner>div>div:nth-of-type(1)>p span {
    font-family: yink, sans-serif;
    font-weight: 400;
    font-size: 7cqw;
}

/* =================== */
/* ICONS */
/* =================== */

.hero-inner>div>div div {
    width: max-content;
    display: flex;
    gap: 1.5cqw;
    margin-top: 2cqw;
    align-self: end;
}

.hero-inner>div>div div a {
    display: flex;
    align-items: center;
    width: 8cqw;
    height: 8cqw;
    background-color: var(--beige-4);
    padding: 1.25cqw;
    border-radius: 1.5cqw;
    overflow: hidden;
}

.hero-inner>div>div div a img {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.hero-inner>div>div div a p {
    display: none;
}



/* ============================================================================== */
/* MY WORK */
/* ============================================================================== */

.my-work {
    position: relative;
    background-color: var(--beige-2);
    padding: var(--padding) 3vw;
    border-radius: 9vw 9vw 0 0;
    transition: border-radius .5s ease;
}

.my-work.trigger {
    border-radius: 0;
}

.my-work::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--beige-1);
    z-index: -1;
}

.projects-container-wrapper {
    container-type: inline-size;
    max-width: 600px;
    margin: 0 auto;
}

/* outline */
.projects-container {
    position: relative;
    padding: 1.33cqw;
    outline: solid 1.5px var(--beige-3);
    border-radius: 2.75cqw;
    container-type: inline-size;
}

/* decorative lines */
.projects-container::before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + (var(--padding) * 2));
    margin-top: calc(var(--padding) * -1);
    background-color: var(--beige-4);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.projects-container svg {
    position: absolute;
    stroke: var(--beige-4);
    stroke-dasharray: 8 14;
    height: calc(100% + (var(--padding) * 2));
    margin-top: calc(var(--padding) * -1);
    width: 1px;
    top: 0;
}

.projects-container svg:nth-of-type(1) {
    left: 6.33cqw;
}

.projects-container svg:nth-of-type(2) {
    right: 6.33cqw;
}

/* main area */
.projects-container section {
    background-color: var(--beige-1);
    padding: 6cqw 9cqw;
    border-radius: 2cqw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 6cqw;
}

.projects-container section .text-container {
    grid-column: 1 / -1;
}

.projects-container section .text-container h2 {
    position: relative;
    font-size: 2rem;
    font-weight: var(--extra-bold);
    line-height: var(--heading-line-height);
    margin: 1rem 0;
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);

}

.projects-container section .text-container h2::after {
    position: absolute;
    content: 'featured';
    left: 0;
    top: -.5cqw;
    translate: 0 -100%;
    text-transform: uppercase;
    font-family: rm-mono;
    text-transform: uppercase;
    font-size: .4em;
    line-height: .8em;
    color: var(--orange);
}

.projects-container section .text-container h2::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 1cqw;
    background-color: var(--orange);
    left: -4.525cqw;
    top: 0;
}

/* labels */
.projects-container section>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-container section>div>.label {
    display: flex;
    align-items: center;
    width: max-content;
    background-color: var(--orange);
    gap: .75rem;
    padding: .5rem;
    border-radius: .5rem;
}

.projects-container section>div>.label p {
    font-family: rm-mono;
    text-transform: uppercase;
    font-size: var(--label-font-size);
    color: white;
    font-size: .88rem;
}

.projects-container section>div>.code img {
    height: .66rem;
    width: auto;
}

.projects-container section>div>.design img {
    height: .88rem;
    width: auto;
}

/* projects */
.projects-container section ul {
    display: grid;
    gap: 1.5rem;
}

.projects-container section div:nth-of-type(3) {
    margin-top: 2.5rem;
}


/* ============================================================================== */
/* ABOUT ME */
/* ============================================================================== */

.about-me {
    position: relative;
    background-color: var(--beige-3);
    padding: 0 3vw var(--padding) 3vw;
}

.about-me-container-wrapper {
    container-type: inline-size;
    max-width: 600px;
    margin: 0 auto;
}

.about-me-container {
    position: relative;
    padding: 1.33cqw;
    container-type: inline-size;
}

.about-me-container section {
    padding: 6cqw 9cqw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

/* decorative lines */
.about-me-container::before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% + var(--padding));
    background-color: var(--beige-4);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-me-container svg {
    position: absolute;
    stroke: var(--beige-4);
    stroke-dasharray: 8 14;
    height: calc(100% + var(--padding));
    width: 1px;
    top: 0;
}

.about-me-container svg:nth-of-type(1) {
    left: 6.34cqw;
}

.about-me-container svg:nth-of-type(2) {
    right: 6.34cqw;
}

.about-me-container section .text-container {
    z-index: 1;
}

.about-me-container section .text-container h2 {
    position: relative;
    font-size: 2rem;
    font-weight: var(--extra-bold);
    line-height: var(--heading-line-height);
    margin: 1rem 0;
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);
}

.about-me-container section .text-container h2::after {
    position: absolute;
    content: 'info';
    left: 0;
    top: -.5cqw;
    translate: 0 -100%;
    text-transform: uppercase;
    font-family: rm-mono;
    text-transform: uppercase;
    font-size: .4em;
    line-height: .8em;
    color: var(--orange);
}

.about-me-container section .text-container h2::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 1cqw;
    background-color: var(--orange);
    left: -4.525cqw;
    top: 0;
}

.about-me-container section .text-container p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--medium);
    font-family: "articulat-cf", sans-serif;
    font-style: normal;
    color: var(--font-black);
}



/* 3D */
.about-me-container section .threeD {
    --x: 45cqw;
    --y: 1.5cqw;
    --z: 30cqw;

    width: 100%;
    height: 45vw;

    translate: 0 7.5vw;
}

/* KEYBOARD */
.threeD-model .keyboard-container {
    gap: 3%;
    padding: .75cqw .75cqw .3cqw .75cqw
}

.threeD-model .keyboard-container .keyboard {
    gap: .3cqw;
    padding: .4cqw;
    border-radius: .3cqw;
}

.keyboard .row span {
    font-size: .75cqw;
    padding: 1.9% 2.1%;
}